<h1>Hello</h1>
<div class="container">
  <div class="leftside">
  <div class="chatbox">
  chatbox
    <% @chat_room.messages.each do |message| %>
      <% if message.chat_room_id ==  @chat_room.id %>
        <div>
          <p><%= message.user.name %></p>
          <p> => <%= message.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="messagebox">
  messageici
  </div>
  </div>

  <div class="userlist">users connected
  </div>

</div>
